<html>
    <head>
        <script src="//cdn1.lncld.net/static/js/3.5.0/av-min.js"></script>
        <script src="js/vue.js"></script>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div id="app">
            <section id="signInAndSignUp" v-if="!currentUser">
                <div>
                    <label><input type="radio" v-model="actionType" value="signUp">SIGN UP</label>
                    <label><input type="radio" v-model="actionType" value="login">LOG IN</label>
                </div>
                <div class="signUp" v-if="actionType=='signUp'">
                    <form @submit.prevent="signUp">
                        <div class="formRow">
                            <label>username</label>
                            <input type="text" v-model="formData.username">
                        </div>
                        <div class="formRow">
                            <label>password</label>
                            <input type="password" v-model="formData.password">
                        </div>
                        <div class="formActions">
                            <input type="submit" value="register">
                        </div>
                    </form>
                </div>
                <div class="login" v-if="actionType=='login'">
                    <form @submit.prevent="login">
                        <div class="formRow">
                            <label>username</label>
                            <input type="text" v-model="formData.username">
                        </div>
                        <div class="formRow">
                            <label>password</label>
                            <input type="password" v-model="formData.password">
                        </div>
                        <div class="formActions">
                            <input type="submit" value="login">
                        </div>
                    </form>
                </div>
            </section>
            <section id="todo" v-if="currentUser">
                <p></p>
                <p>
                    当前用户:<span>{{ currentUser.username }}</span>
                    <button @click="logout">登出</button>
                </p>
                <div class="newTask">
                    添加新任务
                    <input type="text" v-model="newTodo" @keypress.enter="addTodo">
                </div>
                <ol class="todos">
                    <li v-for="todo in todoList">
                        <input type="checkbox" v-model="todo.down">
                        {{ todo.title }}
                        <span v-if="todo.done">已完成</span>
                        <span v-else>未完成</span>
                        <span>{{ todo.createdAt }}</span>
                        <button type="button" @click="removeTodo">X</button>
                    </li>
                </ol>
            </section>
        </div>
        <script src="js/db.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
